{% extends 'student/base.html' %}
{% load static %}

{% block content %}

        <!-- Masthead-->
        <header class="masthead">
          <section class="page-section bg-white" id="about">
            <div class="container">
                <p>You have been logged out</p>
                <small class="text-muted">
                    <a href="{% url 'login' %}">Log in again</a>
                </small>
            </div>
          </section>
        </header>

        
{% endblock content %}